/******************************************/
/* Navbar */
/******************************************/
.navbar{position:relative;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-align:center;align-items:center;-ms-flex-pack:justify;justify-content:space-between;padding:.5rem 1rem;background-color:#fff}

#nav{position:fixed;top:0;left:0;max-width:100%;padding:.5rem 1rem;background-color:#fff;z-index:9999}

#middle{position:absolute;top:1rem;left:50%!important;transform:translateX(-50%)!important}

.navbar-light .navbar-nav .nav-link{color:rgba(0,0,0,.5)}

/******************************************/
/* Content */
/******************************************/
.pt-5,.py-5{padding-top: 6rem!important;}